<html ng-app="app">

<head>
    <title>TerraWeb</title>
    <meta id="viewport"
          name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet"
          href="vendor/bootstrap.css">
    <link rel="stylesheet"
          href="index.css">
</head>

<body ng-controller="MainController">

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Terra<strong>Web</strong><small class="text-muted"> v2.0</small></h1>
            </div>
            <div class="col-lg-6">
                <h3 class="text-primary pull-right">{{getTotalDelay() || 0 | number:0}} ms</h3>
            </div>
        </div>
        <div class="row"
             ng-repeat="network in networks">
            <hr>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-11">
                        <h2>WSN {{network.id}} <small class="text-muted">{{network.address}}:{{network.port}}</small></h2>
                    </div>
                    <div class="col-lg-1">
                        <h3 class="">{{network.model}}</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>🌡Temperature</h4>
                            </div>
                            <div class="col-lg-6">
                                <h4 style="text-align:right"
                                    class="text-primary">
                                     {{(meanBy(network.delays.temperature) || 0) | number:0}}ms
                                </h4>
                            </div>
                        </div>

                        <canvas id="line"
                                width="10"
                                class="chart chart-line"
                                chart-data="temperature_charts[network.id].data"
                                chart-labels="temperature_charts[network.id].labels"
                                chart-series="temperature_charts[network.id].series"
                                chart-options="temperature_charts[network.id].options">
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>Luminosity</h4>
                            </div>
                            <div class="col-lg-6">
                                <h4 style="text-align:right"
                                    class="text-primary">
                                    {{(meanBy(network.delays.luminosity) || 0) | number:0}}ms
                                </h4>
                            </div>
                        </div>

                        <canvas id="line" width="10" class="chart chart-line" chart-data="luminosity_charts[network.id].data" chart-labels="luminosity_charts[network.id].labels"
                            chart-series="luminosity_charts[network.id].series" chart-options="luminosity_charts[network.id].options"
                            chart-colors="luminosity_charts[network.id].colors">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <h3> <strong>Motes</strong></h3>
                    </div>
                    <div class="col-lg-1 col-xs-2" ng-repeat="mote_id in network.mote_ids">
                        <h3 class="pull-right" ng-class="animateSensor(mote_id)">{{mote_id}}</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="vendor/jquery.min.js" charset="utf-8"></script>
    <script src="vendor/angular.min.js" charset="utf-8"></script>

    <script src="vendor/lodash.min.js" charset="utf-8"></script>
    <script src="vendor/moment.min.js" charset="utf-8"></script>

    <script src="vendor/socket.io.min.js" charset="utf-8"></script>
    <script src="vendor/Chart.min.js" charset="utf-8"></script>
    <script src="vendor/angular-chart.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>


</body>


</html>